@charset "utf-8";

@-webkit-keyframes pullDown{
	0%{ -webkit-transform:scaleY(0.1); opacity:0; }
	40%{ -webkit-transform:scaleY(1.02); }
	60%{ -webkit-transform:scaleY(0.98); }
	80%{-webkit-transform:scaleY(1.01);}
	100%{-webkit-transform:scaleY(1); opacity:1;}
}
@keyframes pullDown{
	0%{ transform:scaleY(0.1); opacity:0; }
	40%{ transform:scaleY(1.02); }
	60%{ transform:scaleY(0.98); }
	80%{ transform:scaleY(1.01); }
	100%{ transform:scaleY(1); opacity:1; }	
}
.show .pullDown{ animation:pullDown .6s ease-out backwards; transform-origin:50% 0; -webkit-animation:pullDown .6s ease-out backwards; -webkit-transform-origin:50% 0; }
@-webkit-keyframes pullUp{
	0%{ -webkit-transform:scaleY(0.1); opacity:0; }
	40%{ -webkit-transform:scaleY(1.02); }
	60%{ -webkit-transform:scaleY(0.98); }
	80%{-webkit-transform:scaleY(1.01);}
	100%{-webkit-transform:scaleY(1); opacity:1;}
}
@keyframes pullUp{
	0%{ transform:scaleY(0.1); opacity:0; }
	40%{ transform:scaleY(1.02); }
	60%{ transform:scaleY(0.98); }
	80%{ transform:scaleY(1.01); }
	100%{ transform:scaleY(1); opacity:1; }	
}
.show .pullUp{ animation:pullUp .6s ease-out backwards; transform-origin:50% 100%; -webkit-animation:pullUp .6s ease-out backwards; -webkit-transform-origin:50% 100%; }
@-webkit-keyframes pullMidup{
	0%{ -webkit-transform:scaleY(0.1); opacity:0; }
	40%{ -webkit-transform:scaleY(1.02); }
	60%{ -webkit-transform:scaleY(0.98); }
	80%{-webkit-transform:scaleY(1.01);}
	100%{-webkit-transform:scaleY(1); opacity:1;}
}
@keyframes pullMidup{
	0%{ transform:scaleY(0.1); opacity:0; }
	40%{ transform:scaleY(1.02); }
	60%{ transform:scaleY(0.98); }
	80%{ transform:scaleY(1.01); }
	100%{ transform:scaleY(1); opacity:1; }	
}
.show .pullMidup{ animation:pullMidup .6s ease-out backwards; transform-origin:50% 50%; -webkit-animation:pullMidup .6s ease-out backwards; -webkit-transform-origin:50% 50%; }
@-webkit-keyframes pullRight{
	0%{ -webkit-transform:scaleX(0.1); opacity:0; }
	40%{ -webkit-transform:scaleX(1.02); }
	60%{ -webkit-transform:scaleX(0.98); }
	80%{-webkit-transform:scaleX(1.01);}
	100%{-webkit-transform:scaleX(1); opacity:1;}
}
@keyframes pullRight{
	0%{ transform:scaleX(0.1); opacity:0; }
	40%{ transform:scaleX(1.02); }
	60%{ transform:scaleX(0.98); }
	80%{ transform:scaleX(1.01); }
	100%{ transform:scaleX(1); opacity:1; }	
}
.show .pullRight{ animation:pullRight .6s ease-out backwards; transform-origin:0 50%; -webkit-animation:pullRight .6s ease-out backwards; -webkit-transform-origin:0 50%; }
@-webkit-keyframes pullLeft{
	0%{ -webkit-transform:scaleX(0.1); opacity:0; }
	40%{ -webkit-transform:scaleX(1.02); }
	60%{ -webkit-transform:scaleX(0.98); }
	80%{-webkit-transform:scaleX(1.01);}
	100%{-webkit-transform:scaleX(1); opacity:1;}
}
@keyframes pullLeft{
	0%{ transform:scaleX(0.1); opacity:0; }
	40%{ transform:scaleX(1.02); }
	60%{ transform:scaleX(0.98); }
	80%{ transform:scaleX(1.01); }
	100%{ transform:scaleX(1); opacity:1; }	
}
.show .pullLeft{ animation:pullLeft .6s ease-out backwards; transform-origin:100% 50%; -webkit-animation:pullLeft .6s ease-out backwards; -webkit-transform-origin:100% 50%; }
@-webkit-keyframes pullMidlr{
	0%{ -webkit-transform:scaleX(0.1); opacity:0; }
	40%{ -webkit-transform:scaleX(1.02); }
	60%{ -webkit-transform:scaleX(0.98); }
	80%{-webkit-transform:scaleX(1.01);}
	100%{-webkit-transform:scaleX(1); opacity:1;}
}
@keyframes pullMidlr{
	0%{ transform:scaleX(0.1); opacity:0; }
	40%{ transform:scaleX(1.02); }
	60%{ transform:scaleX(0.98); }
	80%{ transform:scaleX(1.01); }
	100%{ transform:scaleX(1); opacity:1; }	
}	
.show .pullMidlr{ animation:pullMidlr .6s ease-out backwards; transform-origin:50% 50%; -webkit-animation:pullMidlr .6s ease-out backwards; -webkit-transform-origin:50% 50%; }

@-webkit-keyframes rotate{
	0%{ -webkit-transform:rotate(0); }
	100%{ -webkit-transform:rotate(360deg); }
}
@keyframes rotate{
	0%{ transform:rotate(0); }
	100%{ transform:rotate(360deg); }
}
.show .rotate{ -webkit-animation:rotate 3s linear backwards; animation:rotate 3s linear backwards; }

@-webkit-keyframes rotateIn{
	0%{ -webkit-transform:rotate(0) scale(1.2); opacity:0; }
	100%{ -webkit-transform:rotate(360deg) scale(1); opacity:1; }
}
@keyframes rotateIn{
	0%{ transform:rotate(0) scale(1.2); opacity:0; }
	100%{ transform:rotate(360deg) scale(1); opacity:1; }
}
.show .rotateIn{ -webkit-animation:rotateIn .6s ease-out backwards; animation:rotateIn .6s ease-out backwards; }

@-webkit-keyframes rotateud{
	0%{ -webkit-transform:rotateY(360deg); }
	100%{ -webkit-transform:rotateY(0); }
}
@keyframes rotateud{
	0%{ transform:rotateY(360deg); }
	100%{ transform:rotateY(0); }
}
.show .rotateud{-webkit-animation:rotateud 5s linear backwards;animation:rotateud 5s linear backwards;}

@-webkit-keyframes fliplr{
	0%{-webkit-transform:perspective(400px) rotate3d(1,0,0,90deg);opacity:0;}
	40%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-20deg);}
	60%{-webkit-transform:perspective(400px) rotate3d(1,0,0,10deg);opacity:1;}
	80%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-5deg);}
	100%{-webkit-transform:perspective(400px);}
}
@keyframes fliplr{
	0%{transform:perspective(400px) rotate3d(1,0,0,90deg);opacity:0;}
	40%{transform:perspective(400px) rotate3d(1,0,0,-20deg);}
	60%{transform:perspective(400px) rotate3d(1,0,0,10deg);opacity:1;}
	80%{transform:perspective(400px) rotate3d(1,0,0,-5deg);}
	100%{transform:perspective(400px);}
}
.show .fliplr{-webkit-animation:fliplr 1.5s ease-in backwards; animation:fliplr 1.5s ease-in backwards; }

@-webkit-keyframes fallDownR{
	0%{-webkit-transform:rotate(0);opacity:0;}
	20%{-webkit-transform:rotate(140deg);opacity:1;}
	40%{-webkit-transform:rotate(20deg);}
	60%{-webkit-transform:rotate(100deg);}
	80%{-webkit-transform:rotate(40deg);}
}
@keyframes fallDownR{
	0%{transform:rotate(0);opacity:0;}
	20%{transform:rotate(140deg);opacity:1;}
	40%{transform:rotate(20deg);}
	60%{transform:rotate(100deg);}
	80%{transform:rotate(40deg);}
}
.show .fallDownR{ -webkit-animation:fallDownR .6s ease-out backwards; animation:fallDownR .6s ease-out backwards; -webkit-transform-origin:0 0;-webkit-transform:rotate(70deg); }

@-webkit-keyframes fallDown{
	0%{ -webkit-transform:translateY(-80px); opacity:0; }
	40%{ -webkit-transform:translateY(20px); }
	60%{ -webkit-transform:translateY(-20px); }
	80%{ -webkit-transform:translateY(0); opacity:1; }
}
@keyframes fallDown{
	0%{ transform:translateY(-80px); opacity:0; }
	40%{ transform:translateY(20px); }
	60%{ transform:translateY(-20px); }
	80%{ transform:translateY(0); opacity:1; }
}
.show .fallDown{ -webkit-animation:fallDown .6s ease-in backwards; animation:fallDown .6s ease-in backwards; }

@-webkit-keyframes moveRhtR{
	0%{ -webkit-transform:translateX(-150px); }
	100%{ -webkit-transform:translateX(0); }
}
@keyframes moveRhtR{
	0%{ transform:translateX(-150px); }
	100%{transform:translateX(0); }
}
.show .moveRhtR{ -webkit-animation:moveRhtR .6s ease-out backwards; animation:moveRhtR .6s ease-out backwards; }

@-webkit-keyframes pourRht{
	0%{ opacity:0; -webkit-transform:rotate(-90deg); }
	50%{ opacity:1; }
	100%{ -webkit-transform:rotate(0); }
}
@keyframes pourRht{
	0%{ opacity:0; transform:rotate(-90deg); }
	50%{ opacity:1; }
	100%{ transform:rotate(0); }
}
.show .pourRht{ -webkit-animation:pourRht 0.5s ease-in backwards; animation:pourRht 0.5s ease-in backwards;transform-origin:0 100%; -webkit-transform-origin:0 100%;}

@-webkit-keyframes pourLft{
	0%{ opacity:0; -webkit-transform:rotate(90deg); }
	50%{ opacity:1; }
	100%{ -webkit-transform:rotate(0); }
}
@keyframes pourLft{
	0%{ opacity:0; transform:rotate(90deg); }
	50%{ opacity:1; }
	100%{ transform:rotate(0); }
}
.show .pourLft{ -webkit-animation:pourLft 0.5s ease-in backwards; animation:pourLft 0.5s ease-in backwards;transform-origin:100% 100%; -webkit-transform-origin:100% 100%;}

@-webkit-keyframes toBig{
	0%{ -webkit-transform:scale(0); opacity:0; }
	100%{ -webkit-transform:scale(1); opacity:1; }
}
@keyframes toBig{
	0%{ transform:scale(0); opacity:0; }
	100%{ transform:scale(1); opacity:1; }
}
.show .toBig{ -webkit-animation:toBig .6s ease-in backwards; animation:toBig .6s ease-in backwards; }

@-webkit-keyframes toSmall{
	0%{ -webkit-transform:scale(1.5); opacity:0; }
	100%{ -webkit-tranform:scale(1); opacity:1; }
}
@keyframes toSmall{
	0%{ transform:scale(1.5); opacity:0; }
	100%{ tranform:scale(1); opacity:1; }
}
.show .toSmall{ -webkit-animation:toSmall .6s ease-in-out backwards; animation:toSmall .6s ease-in-out backwards; }

@-webkit-keyframes bigSmall{
	0%{ -webkit-transform:scale(0); opacity:0; }
	40%{ -webkit-transform:scale(1.2); }
	60%{ -webkit-transform:scale(0.9); }
	80%{ -webkit-transform:scale(1.1); }
	100%{ -webkit-transform:scale(1); opacity:1; }
}
@keyframes bigSmall{
	0%{ transform:scale(0); opacity:0; }
	40%{ transform:scale(1.2); }
	60%{ transform:scale(0.9); }
	80%{ transform:scale(1.1); }
	100%{ transform:scale(1); opacity:1; }
}
.show .bigSmall{ -webkit-animation:bigSmall .6s ease-in-out backwards; animation:bigSmall .6s ease-in-out backwards; }

@-webkit-keyframes smallBig{
	0%{ -webkit-transform:scale(1.5); opacity:0; }
	40%{ -webkit-transform:scale(0.8); }
	60%{ -webkit-transform:scale(1.2); }
	80%{ -webkit-transform:scale(0.9); }
	100%{ -webkit-transform:scale(1); opacity:1; }
}
@keyframes smallBig{
	0%{ transform:scale(1.5); opacity:0; }
	40%{ transform:scale(0.8); }
	60%{ transform:scale(1.1); }
	80%{ transform:scale(0.9); }
	100%{ transform:scale(1); opacity:1; }
}
.show .smallBig{ -webkit-animation:smallBig .6s ease-in-out backwards; animation:smallBig .6s ease-in-out backwards; }

@-webkit-keyframes tmoveRht{
	0%{ -webkit-transform:translateX(-100px); opacity:0; }
	100%{ -webkit-transform:translateX(0); opacity:1; }
}
@keyframes tmoveRht{
	0%{ transform:translateX(-100px); opacity:0; }
	100%{ transform:translateX(0); opacity:1; }
}
.show .tmoveRht{ -webkit-animation:tmoveRht .6s linear backwards; animation:tmoveRht .6s linear backwards; }

@-webkit-keyframes tmoveLft{
	0%{ -webkit-transform:translateX(100px); opacity:0; }
	100%{ -webkit-transform:translateX(0); opacity:1; }
}
@keyframes tmoveLft{
	0%{ transform:translateX(100px); opacity:0; }
	100%{ transform:translateX(0); opacity:1; }
}
.show .tmoveLft{ -webkit-animation:tmoveLft .6s linear backwards; animation:tmoveLft .6s linear backwards;}

@-webkit-keyframes tmoveBtm{
	0%{ -webkit-transform:translateY(-100px); opacity:0; }
	100%{ -webkit-transform:translateY(0); opacity:1; }
}
@keyframes tmoveBtm{
	0%{ transform:translateY(-100px); opacity:0; }
	100%{ transform:translateY(0); opacity:1; }
}
.show .tmoveBtm{ -webkit-animation:tmoveBtm .6s linear backwards; animation:tmoveBtm .6s linear backwards;}

@-webkit-keyframes tmoveTop{
	0%{ -webkit-transform:translateY(100px); opacity:0; }
	100%{ -webkit-transform:translateY(0); opacity:1; }
}
@keyframes tmoveTop{
	0%{ transform:translateY(100px); opacity:0; }
	100%{ transform:translateY(0); opacity:1; }
}
.show .tmoveTop{ -webkit-animation:tmoveTop .6s linear backwards; animation:tmoveTop .6s linear backwards;}

@-webkit-keyframes shake{
	0%,100%{ -webkit-transform:translate(0,0); }
	25%{ -webkit-transform:translate(-10px,0); }
	50%{ -webkit-transform:translate(5px,-5px); }
	75%{ -webkit-transform:translate(3px,10px); }
}
@keyframes shake{
	0%,100%{ transform:translate(0,0); }
	25%{ transform:translate(-10px,0); }
	50%{ transform:translate(5px,-5px); }
	75%{ transform:translate(3px,10px); }
}
.show .shake{ -webkit-animation:shake 2s linear backwards infinite; animation:shake 2s linear backwards infinite; }

@-webkit-keyframes fadeIn{
	0%{ opacity:0; }
	100%{ opacity: 1; } 
}
@keyframes fadeIn{
	0%{ opacity:0; }
	100%{ opacity: 1; } 
}
.show .fadeIn{ -webkit-animation:fadeIn .6s linear backwards; animation:fadeIn .6s linear backwards; }

@-webkit-keyframes fadeOut{
	0%{ opacity: 1; }
	100%{ opacity:0; } 
}
@keyframes fadeOut{
	0%{ opacity: 1; }
	100%{ opacity:0; } 
}
.show .fadeOut{ -webkit-animation:fadeOut .6s linear forwards; animation:fadeOut .6s linear forwards; }
.show .noneCss3{ -webkit-animation-name:none; animation-name:none; }

@-webkit-keyframes scanAnimation{
	0%,100%{ -webkit-transform:translateY(0); }
	50%{ -webkit-transform:translateY(140px); }
}
@keyframes scanAnimation{
	0%,100%{ -webkit-transform:translateY(0); }
	50%{ -webkit-transform:translateY(140px); }
}
.show .scanAnimation{ -webkit-animation:scanAnimation 2s linear backwards infinite; animation:scanAnimation 2s linear backwards infinite; }

